body {
    background-image: linear-gradient(to bottom right, #4affde 0%,
            #5b9dff 40%, #9f6bff 60%, #ff34d2 100%);
    animation: gradientEffect 4s linear infinite alternate;
    background-size: 300% 300%;
}

@keyframes gradientEffect {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 80% 80%;
    }
}
ul {
    font-size: 20px;
}

h3 {
    font-size: 25px;
}

#github {
    margin-left: 65px;
}

#meuNome {
    color: blue;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    top: 20px;
    position: relative;
}

#minha-foto {
    float: left;
    height: 430px;
    padding: 10px;
    background-color: #065725;
}

#descricao {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 170%;
    margin-left: 15px;
    position: absolute;
    left: 300px;
    top: 20px;
    right: 150px;
}
.foto-descricao {
    height: 450px;
}

.redes-sociais{
    position: relative;
    top: 10px;
    float: left; 
}
.foto-descricao-sociais{
    position: relative;
    padding: 10px;
    left: 20px;
}

ul li:nth-child(odd){
    background-color: yellow;
}

.habilidades{
    position:absolute;
    font-size: 100%;
    float: left;
    margin-top: 100px;
}
/*
.habilidades{
    border: 2px solid black;
    position:relative;
    top: 110px;
    font-size: 100%;
    float: left;
    left: -255px;
}
*/