body {
    background-image: linear-gradient(to bottom right, #4affde 0%,
            #5b9dff 40%, #9f6bff 60%, #ff34d2 100%);
    animation: gradientEffect 4s linear infinite alternate;
    background-size: 300% 300%;
}

@keyframes gradientEffect {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 80% 80%;
    }
}

ul {
    font-size: 20px;
}

h3 {
    font-size: 25px;
}

#meuNome {
    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    left: 20px;
}

#minha-foto {
    border-radius: 50%;
    height: 250px;
    padding: 10px;
    background-color: purple;
}

#descricao {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 150%;
    margin-left: 15px;
    width: 70%;
}

.foto-descricao-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 250px;
    height: 120px;
}

ul li:nth-child(odd){
    background-color: yellow;
}

.habilidades{
    display: flex;
    flex-direction: column;
    font-size: 100%;
    float: left;
    margin-top: 20px;
    width: 100%;
}
